/* Banner.css */
.swiper-button-next,
.swiper-button-prev {
  color: white;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}
